<%= form_for(@user_story) do |f| %>
  <% if @user_story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_story.errors.count, "error") %> prohibited this user_story from being saved:</h2>

      <ul>
      <% @user_story.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :criterias %><br />
    <%= f.text_area :criterias %>
  </div>
  <div class="field">
    <%= f.label :estimation %><br />
    <%= f.number_field :estimation %>
  </div>
  <div class="field">
    <%= f.label :priority %><br />
    <%= f.number_field :priority %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
